[Unit]
Description=Temperature control service
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/pi/tempcontrol.py
[Install]
WantedBy=multi-user.target